opencv-python~=4.4.0.46
tqdm~=4.54.1
tensorboard
addict~=2.4.0
sklearn~=0.0
pathspec~=0.8.1
numpy~=1.19.4
pillow~=8.0.1
torchvision~=0.8.1
scipy~=1.5.4
scikit-learn~=0.23.2
sphinx~=3.3.1
sphinx_rtd_theme~=0.5.0
myst-parser~=0.12.10
mss~=6.1.0